# docker-compose.yml

version: '3.8'

services:
  web:
    build: .
    # Додаємо ports тут для локального запуску, якщо Railway не буде використовувати Nginx
    ports:
      - "5000:5000" 
    volumes:
      - .:/app
      - sqlite_data:/app/data
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/api/v1/health"]
      interval: 30s
      timeout: 10s
      retries: 5
  
#   image: nginx:alpine
#   ports:
#     - "80:80"
#   volumes:
#     - ./nginx.conf:/etc/nginx/conf.d/default.conf
#   depends_on:
#     - web

volumes:
  sqlite_data: