{% extends "base.html" %} 
{% block title %}Stardew Valley Fan Hub{% endblock %} 

{% block content %}
<h1 class="text-3xl font-bold mb-4">Ласкаво просимо до Пелікан-тауну!</h1>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
        <img
            src="https://upload.wikimedia.org/wikipedia/uk/f/fd/Logo_of_Stardew_Valley.png"
            alt="Ферма у Stardew Valley"
            class="w-full rounded-lg shadow-md"
        />
    </div>
    <div>
        <p class="text-lg mb-2">
            Ви успадкували стару фермерську ділянку свого дідуся в Stardew Valley. 
            Озброївшись старими інструментами та кількома монетами, ви 
            вирушаєте, щоб почати своє нове життя.
        </p>
        <p class="text-lg">
            Цей сайт присвячений цій чудовій грі. Тут ми збираємо гайди, 
            ділимося секретами та просто насолоджуємося атмосферою долини.
        </p>
    </div>
</div>
{% endblock %}
